* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(20, 20, 20, 0.712);
    font-family:monospace;
    color:white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    text-align: center;
}

nav {
    background-color: black;
}

.menu {
    list-style: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu li {
    display: inline-block;
    margin-right: 12px;
    font-weight: bold;
}

.menu li a {
    display: block;
    color: white;
    padding: 8px 15px;
    transition: color 0.3s;
}

.menu li:hover a {
    color: rgba(181, 184, 53, 0.829);
}

.slogan {
    text-align: center;
    color: yellow;
    font-size: 14px;
}
.slogan h2 {
    color: white;
}

.botao {
    display: inline-block;
    padding: 7.5px 15px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #e0ae28; 
    color: #fff; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qualidade h1, .entrega h1, .produtos h1, .menucardapio h1, .shark h1, .sarrada h1, .scorpion h1, .letra h1, .contato h1{
    color: rgb(250, 246, 0);
}

@media screen and (max-width: 600px) {
    .burgao {
        height: 150px;
        width: 200px;
        margin-top: 15px;
    }

    .box {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        text-shadow: 1px 2px 2px #ffe600;
    }

    nav {
        padding-bottom: 1vh;
    }

    .logo {
        width: 70px;
        height: 40px;
        margin-top: 7px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .shark img {
        width: 250px;
        height: 300px;
        border-radius: 20px;
    }
    .sarrada img {
        width: 250px;
        height: 300px;
        border-radius: 20px;
    }

    .scorpion img {
        width: 250px;
        height: 300px;
        border-radius: 20px;
    }
    .letra img {
        width: 250px;
        height: 300px;
        border-radius: 20px; 
    }
    
    .botao-cardapio {
        text-align: center;
        margin-top: 20px;
    }

    .botao:hover {
        background-color: #c19321; 
    }

    .qualidade {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .entrega {
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    .produtos {
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    .menucardapio {
        margin-top: 35px;
        text-align: center;
    }

    .shark {
        text-align: center;
        margin-top: 30px;
    }

    .sarrada {
        text-align: center;
        margin-top: 30px;
    }

    .scorpion {
        text-align: center;
        margin-top: 30px;
    }
    .letra {
        text-align: center;
        margin-top: 30px;
    }
    .contato {
        text-align: center;
        margin-top: 60px;
    }

    .contato iframe {
        width: 250px;
        height: auto;
        border: yellow 6px;
        margin-top: 30px;
    }
    .contato h2 {
        margin-top: 20px;
    }

    .whatsapp, .instagram, .ifood {
        width: 50px;
        height: auto;
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    footer {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .menu img.logo {
        vertical-align: middle; /* Isso ajuda a centralizar a imagem ao lado dos links */
    }
    
    
}

@media screen and (min-width: 600px) {
    .logo {
        width: 100px;
        height: auto;
        margin-top: 20px;
    }
    
    .menu li {
        margin-bottom: 50px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 30px;
    }
    
    .burgao {
        width: 600px;
        height: auto;
        margin-top: 80px;
    }

    .box {
        text-align: center;
    }
    
    .botao-cardapio {
        text-align: center;
    }
    .qualidade {
        text-align: center;
    }

    .qualidade, .entrega, .produtos, .menucardapio, .contato, .slogan {
        text-align: center;
        margin: 200px;
    } 
    .shark img, .sarrada img, .scorpion img, .letra img {
        width: 150px;
        height: auto;
        border-radius: 30px;
    }
    .shark h1, .sarrada h1, .scorpion h1, .letra h1 {
        margin-top: 15px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .shark, .sarrada, .scorpion, .letra {
        margin-left: 150px;
    }

    .menu img.logo {
        vertical-align: middle; /* Isso ajuda a centralizar a imagem ao lado dos links */
    }

    .container .shark, .container .sarrada, .container .scorpion, .container .letra {
        text-align: center;

    }

    .sarrada img {
        height: 180px;
    }
    .scorpion img, .letra img {
        height: 178px;
    }

    .slogan {
        margin-top: 10px;
    }
    .botao-cardapio {
        margin-top: -100px;
        margin-bottom: -100px;
    }
    .container img {
        margin-bottom: 50px;
    }
    /*mudanças a partir daqui*/
    .qualidade {
        margin-bottom: -130px;
    }
    .entrega {
        margin-bottom: -130px;
    }
    .produtos {
        margin-bottom: -50px;
    }

    #cardapio {
        margin-bottom: 80px;
    }

    .contato {
        margin-top: 300px;
        margin-bottom: 50px;
    }

    .contato h1 {
        margin-bottom: 60px;
    }
    .contato h2 {
        margin-bottom: 50px;
    }
    .contato iframe {
        margin-bottom: 30px;
    } 

    .ifood, .instagram, .whatsapp {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer {
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
    }
}